@media (max-width: 736px) {
	#footer .row > section:nth-child(3) {
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: block;
		text-align: center;
	}
}
/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 */
